
@font-face {
    font-family: 'vazir';
    src: url('/public/assets/fonts/Vazir.woff');
}

html , #root{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../images/big-back.jpg);
    background-position: center;
    background-size: cover;
}

*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ======================================================== layout ==================================================== */
.layout{
    width: 100%;
    min-height: 100vh;
}

.layout.HOME{
    background: url('../images/space/home/background-home-mobile.jpg') no-repeat center !important;
    background-size: cover !important;
    object-fit: cover;
}

.layout.DESTINATION{
    background: url('../images/space/destination/background-destination-mobile.jpg') no-repeat center !important;
    background-size: cover !important;
    object-fit: cover;
}

.layout.CREW{
    background: url('../images/space/crew/background-crew-mobile.jpg') no-repeat center !important;
    background-size: cover !important;
    object-fit: cover;
}

.layout.TECHNOLOGY{
    background: url('../images/space/technology/background-technology-mobile.jpg') no-repeat center !important;
    background-size: cover !important;
    object-fit: cover;
}


/* ============ tablet ======== */
@media screen and (min-width:568px) {
    .layout.HOME{
        background: url('../images/space/home/background-home-tablet.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
    
    .layout.DESTINATION{
        background: url('../images/space/destination/background-destination-tablet.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
    
    .layout.CREW{
        background: url('../images/space/crew/background-crew-tablet.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
    
    .layout.TECHNOLOGY{
        background: url('../images/space/technology/background-technology-tablet.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }

}

/* ============ desktop ======== */
@media screen and (min-width:768px) {
    .layout.HOME{
        background: url('../images/space/home/background-home-desktop.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
    
    .layout.DESTINATION{
        background: url('../images/space/destination/background-destination-desktop.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
    
    .layout.CREW{
        background: url('../images/space/crew/background-crew-desktop.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
    
    .layout.TECHNOLOGY{
        background: url('../images/space/technology/background-technology-desktop.jpg') no-repeat center !important;
        background-size: cover !important;
        object-fit: cover;
    }
}

/* ======================================================== layout ==================================================== */




/* ======================================================== navbar ==================================================== */
.navbar_list{
    background: #000 !important;
    position: relative;
    height: 59px;
    transition: all 0.4s ease-in;
    overflow: hidden;
    background: #76767670 !important;
    backdrop-filter: blur(5px);
}

.navbar_UL{
    transition: all 0.7s ease-in-out !important;
}

@media screen and (min-width:993px) {
    .navbar_list{
        height: 68px !important;
    }
    .navbar_UL{
        height: 68px !important;
    }
}

.logo{
    width: 40px;
}

.titleNav{
    background: #76767670;
    backdrop-filter: blur(5px);
    cursor: pointer !important;
}
/* ======================================================== navbar ==================================================== */




/* ======================================================== HOME ==================================================== */
.homeCompo{
    height: 80vh;
    width: 100%;
}

.homeCompo .circle{
    width: 200px;
    height: 200px;
}

.homeCompo .title{
    font-size: 110px;
    letter-spacing: 15px;
}

.homeCompo .mini_title{
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.homeCompo .caption{
    font-size: 17px !important;
    text-align: left !important;
    font-family: Arial, Helvetica, sans-serif;
}
/* ======================================================== HOME ==================================================== */




/* ======================================================== DESTINATION ==================================================== */
.destinationCompo {
    height: 80vh;
    width: 100%;
}

.destinationCompo .title{
    letter-spacing: 4px;
    font-size: 23px;
}

.destinationCompo .moonIMG{
    min-width: 50% !important;
    max-width: 80% !important;
}

@media screen and (min-width : 993px) {
    .destinationCompo .title{
        text-align: left !important;
    }
}